<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>network.beldex.belnet.daemon</string>

	<key>ProgramArguments</key>
	<array>
		<string>/var/lib/belnet/belnet_macos_daemon_script.sh</string>
	</array>

	<!-- Keep Belnet alive unless magic file exists -->
	<key>KeepAlive</key>
	<dict>
		<key>PathState</key>
		<dict>
			<key>/var/lib/belnet/suspend-launchd-service</key>
			<false/>
		</dict>
	</dict>

	<key>StandardOutPath</key>
  <string>/var/log/belnet.log</string>
</dict>
</plist>
